.form-group {
    margin-bottom: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 350px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.btn {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 350px;
}