.form-group {
    margin-bottom: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 350px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: right;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.helptext {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-500);
    margin-top: 0.25rem;
    text-align: right;
}

.btn {
    width: 90%;
    color: var(--white);
    background-color: var(--primary-red);
    border-radius: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 350px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s;
    white-space: nowrap;
}