{# accounts/templates/accounts/login.html #}
{% extends "accounts/base_accounts.html" %}

{% block title %}ورود به حساب کاربری{% endblock %}

{% block content %}
    <div class="mx-auto px-4 flex justify-center">
        <div class="bg-white w-full max-w-md p-8 rounded-2xl shadow-lg border border-gray-100 text-center">
            <h2>ورود به حساب کاربری</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">ایمیل یا شماره موبایل</label>
                    <input type="text" maxlength="254" name="username" class="form-control bg-gray-50" id="id_username" required="">
                </div>
                <div class="form-group">
                    <label for="id_password">رمز عبور</label>
                    <input type="password" name="password" class="form-control bg-gray-50" id="id_password">
                </div>
                <button type="submit" class="btn">ورود به حساب</button>
            </form>
            <p><a href="{% url 'accounts:register' %}">حساب کاربری ندارید؟ ثبت نام کنید</a></p>
            <p><a href="{% url 'accounts:password_reset' %}">رمز عبور خود را فراموش کرده اید؟</a></p>
        </div>
    </div>
{% endblock %} 