{# accounts/templates/accounts/password_reset_done.html #}
{% extends "accounts/base_accounts.html" %}

{% block title %}دستورالعمل بازیابی رمز ارسال شد{% endblock %}

{% block content %}
    <h2>دستورالعمل بازیابی رمز ارسال شد</h2>
    <p>دستورالعمل بازیابی رمز عبور به آدرس ایمیل شما ارسال شده است (در صورتی که حسابی با آن ایمیل موجود باشد). لطفاً صندوق ورودی و پوشه اسپم خود را بررسی کنید.</p>
    <p>اگر ایمیلی دریافت نکردید، مطمئن شوید آدرس ایمیلی که وارد کرده اید صحیح است و دوباره تلاش کنید.</p>
    <p><a href="{% url 'accounts:login' %}" class="btn">بازگشت به صفحه ورود</a></p>
{% endblock %} 