{# accounts/templates/accounts/password_reset_confirm.html #}
{% extends "accounts/base_accounts.html" %}
{% load accounts_extras %}

{% block title %}تنظیم رمز عبور جدید{% endblock %}

{% block content %}
<div class="mx-auto px-4 flex justify-center">
    <div class="auth-login bg-white w-full max-w-md p-8 rounded-2xl shadow-lg border border-gray-100 text-center">
        <h2>تنظیم رمز عبور جدید</h2>
        {% if validlink %}
            <p>لطفاً رمز عبور جدید خود را دو بار وارد کنید تا بتوانیم آن را تایید کنیم.</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field.as_widget }}
                        {% if field.help_text %}
                            <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="errorlist">{{ error|translate_password_error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn">تغییر رمز عبور</button>
            </form>
        {% else %}
            <p>متاسفانه لینک بازیابی رمز عبور نامعتبر است، احتمالاً به این دلیل که قبلاً استفاده شده است یا منقضی شده است.</p>
            <p><a href="{% url 'accounts:password_reset' %}" class="btn">دوباره درخواست بازیابی رمز عبور دهید</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
