{# accounts/templates/accounts/password_reset_email.html #}
{% load i18n %}
<div dir="rtl" style="font-family: sans-serif;">
    <p>سلام،</p>
    <p>شما (یا شخص دیگری) درخواست بازیابی رمز عبور برای حساب کاربری مرتبط با این ایمیل ({{ email }}) در {{ SHOP_NAME }} را داده اید.</p>
    <p>برای تنظیم رمز عبور جدید، لطفاً روی لینک زیر کلیک کنید:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
    </a></p>
    <p>نام کاربری شما (در صورتی که فراموش کرده اید): {{ user.get_username }}</p>
    <p>اگر شما این درخواست را نداده اید، این ایمیل را نادیده بگیرید.</p>
    <p>با احترام،<br>تیم {{ SHOP_NAME }}</p>
</div> 